---
navPages:
    -   title: Home
        url: /index.html
    -   title: Instruments & Gear
        url: /instruments
    -   title: School
        url: /school
    -   title: Repairs
        url: /repairs
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main.css"> 
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="scripts" href="/scripts/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                {%- for entry in navPages %}
                    <li{% if entry.title == name %} class="selected-page"{% endif %}>
                        <a href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                {%-endfor %}
            </ul>
        </nav>

    </header>
    <main>
        {{ content }}
    </main>
    
</body>
</html>